.header {
    padding: 1rem 2rem; /*  отступы сверху и снизу , слева и справа  */
    margin-bottom: 2rem; /*  нижний отступ  */
}

.nav-list {
    display: flex; /* исп флексбокс для расположения элементов в ряд */
    list-style: none; /* убираем стандартные маркеры списка */
    gap: 2rem; /* задаем промежуток между элементами списка  */
    padding: 0; /* убираем внутренние отступы */
    margin: 0; /* убираем внешние отступы */
}

.nav-list a {
    text-decoration: none; /* убираем подчеркивание у ссылок */
    font-weight: bold; /* делаем текст ссылок жирным */
    transition: color 0.3s ease; /* добавляем плавный переход для изменения цвета */
}

.light .nav-list a {
    color: #333; /* задаем цвет текста ссылок в светлой теме */
}

.dark .nav-list a {
    color: #f8f9fa; /* задаем цвет текста ссылок в темной теме */
}

.nav-list a:hover {
    color: #0d6efd; /* меняем цвет текста ссылок при наведении */
}
